<div class="p-4 mb-3 rounded">
    <h4 class="fst-italic">A propos</h4>
    <p class="mb-0">Il est possible d’être invité par le destin à suivre un chemin de héros, il est aussi possible que le destin vous claque la porte au nez.</p>
</div>